<html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Value Calculator</title>

		<!--Import additional fonts-->
		<link href="../Value%20Calculator_files/css" rel="stylesheet" type="text/css">
		<!--link to stylesheet-->
		<link rel="stylesheet" type="text/css" href="valuecalculatorv3.css">
		<!--link to icon librabry-->
		<link rel="stylesheet" href="../Value%20Calculator_files/font-awesome.min.css">
		<!--link to angular-->
		<script type="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>




	</head>
	<body>
		<div id="backgrounddiv">
		<main id="main">
            <script type="text/javascript" src="../app.js"></script> <!--I suspect sth wrong here with the type -->
		<form id="valueTypeForm" method="post" action="/post_WSJF_item">


  			<h1>What kind of value do you expect from your project?</h1>

  			<!--here is the table to get the user input about the type of value creation.-->

  				<script type="text/javascript" src="calcv3.js"></script>
					<script type="text/javascript" src="collapseinputfields.js"></script>
					<script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script> <!--This library is used to calculate probabilities-->
					<script type="text/javascript" src="probcalc.js"></script>
					<div id="radiobuttons">
			  <fieldset>

					<!--REDUCE COST OPTION-->
			  	<br>
			    <input type="radio" id="redcos" name="valuetype" value="redcos" onclick="valueTypeInput();">
			    <label for="redcos">Reduce Cost</label>
					<!--Hidden Input boxes that appear on clicking the radio are put here:-->
					<div id="redcosinput" style="display:none">
						<p>How many people work on the process per week:</p> <input type='number' id="redcostotalppl" name='ppl'><br>
						<p>How many hours is the process worked on per week:</p><input type='number' id="redcostotalhrs" name='hrs'><br>
						<p>How many people will work on the process per week, when the solution is finished:</p><input type='number' id="redcosfutureppl" name='ftrppl'><br>
						<p>How many hours will the process be worked be worked on per person per week, when the solution is finished:</p><input type="number" id="redcosfuturehrs" name='ftrhrs'>
					</div>
					</br>

					<!--AVOID COST OPTION-->
					<br>
			    <input type="radio" id="avocos" name="valuetype" value="Avoid Cost" onclick="valueTypeInput();">
			    <label for="avocos">Avoid Cost</label>
					<!--Hidden Input boxes that appear on clicking the radio are put here:-->
					<div id="avocosinput" style="display:none">
						<p>How much will the cost be, if the event happens:</p> <input type='number' id="avocosttl" name='ttl'><br>
						<p>Is there a date when the when the event will occur:</p><input type="datetime" id="avocostime" name='tme'><br>
						<p>How likely is it, that the event will occur in the next year in %:</p><input type='number' id="avocosrisk" name='risk'>
					</div>
				</br>

					<!--INCREASE REVENUE OPTION-->
			    <br>
			    <input type="radio" id="increv" name="valuetype" value="Increase Revenue" onclick="valueTypeInput();">
			    <label for="increv">Increase Revenue</label>
					<!--Hidden Input boxes that appear on clicking the radio are put here:-->
					<div id="increvinput" style="display:none">
						<p>How much is the revenue for a sale right now per week:</p><input type='number' id="slsnow" name='slsnow'><br>
						<p>How many sales do you have per week:</p><input type='number' id="itmnow" name='itmnow'><br>
						<p>How much will revenue increase in sales per week:</p><input type='number' id="increvsls" name='sls'><br>
						<p>How many items can be sold per week:</p><input type='number' id="increvitm" name='itm'><br>
					</div>
				</br>


				<!--PROTECT REVENUE OPTION-->
				<br>
			     <input type="radio" id="prorev" name="valuetype" value="Protect Revenue" onclick="valueTypeInput();">
			    <label for="prorev">Protect Revenue</label>
					<!--Hidden Input boxes that appear on clicking the radio are put here:-->
				<div id="prorevinput" style="display:none">
						<p>How much revenue will be protected each week:</p><input type='number' id="prorevwek" name='wek'><br>
					</div>
				</br>

			    </br>
				</div>
				<!--Confirm Button to start calculation-->
					<br>
			    	<button type="button" id="confirmbutton" onclick="valueType()">confirm</button>
				</br>
				<br>
					<button type="button" id="confirmbutton" onclick="calculateprobability()">probability</button>
			</br>

			  </fieldset>

				<!--Output Element for calculations-->
				<div id="output"></div>
				<div id="output2"></div>

	</form>
</div>
</main>
	</body>
