<!--NEEDS TO BE FINISHED-->

<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <title>Value Calculator</title>

	  <!--Import additional fonts-->
	  <link href="../Value%20Calculator_files/css" rel="stylesheet" type="text/css">
	  <!--link to stylesheet-->
	  <link rel="stylesheet" type="text/css" href="WSJF.css">
	  <!--link to icon librabry-->
	  <link rel="stylesheet" href="../Value%20Calculator_files/font-awesome.min.css">
	  <!--link to angular-->
	  <!--<script type="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>-->


	</head>

	<body>
		<div class="background">
			<div class="wrapper">
				<div class="header">
					<div class="title">
						<h1>WSJF Backlog</h1>
					</div>
	        <div class="options">
	          <!--Here be the different options: Visualise Urgency Profiles of Backlog/List View-->
						<button id="urgencyprofile">Urgency Profile</button>
						<button id="listview">List view</button>
					</div>
					<div class="filters">
						<!--Here be filters for Items: Filter by date added, filter by name, filter by date range, filter by cost of delay, filter by valuetype-->
						<p>test</p>
		      </div>
					<div>
						<!--Here be an add button to go straight to the Value Calc input form and add new items / OR Iframe that shows the input in steps?-->
						<button id=addbacklogitem>Add backlogitem</button>
					</div>
	      </div>
			</div>
			</div>
	</div>
	</body>
</html>
