.background {
  background-image: url("../Value Calculator_files/blackpolygon.jpg");
  background-size: cover;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 500px auto;
  grid-template-rows: auto 10px auto;
  font-family: "Ostrich Sans", sans-serif, bold;
  color: white;
}

.body {
  display: grid;
}

.filters {
  grid-row: auto;
  grid-column: start 3;
}

#urgencyprofile {
  grid-column: start 1;
}

#listview {
  grid-column: start 2;
}

#addbacklogitem {
  grid-row: start 3;
}

h1 {

}

p {

}

button {

}
