extends layout

block content
        form#valueTypeForm(method='POST', action='/post_WSJF_item' )
            // here is the table to get the user input about the type of value creation.
            script(src='/public/javascripts/calcv3.js')
            script(src='/public/javascripts/collapseinputfields.js')
            if errors
                    ul.alert
                        for error in errors
                            li!= error.msg
            #radiobuttons
                fieldset
                    p Give your Task a name
                    input#itemName(type='text' name='itemName')
                    br
                    p How many people work on the process per week:
                    input#redcostotalppl(type='number', name='redcostotalppl')
                    br
                    p How many hours is the process worked on per week:
                    input#redcostotalhrs(type='number', name='redcostotalhrs')
                    br
                    p How many people will work on the process per week, when the solution is finished:
                    input#redcosfutureppl(type='number', name='redcosfutureppl')
                    br
                    p How many hours will the process be worked be worked on per person per week, when the solution is finished:
                    input#redcosfuturehrs(type='number', name='redcosfuturehrs')
                    br
                    p How many how weeks will the project be take until completion:
                    input#redcosfuturehrs(type='number', name='estimationValue')
                    br
                    p
                    script(language='javascript', type='text/javascript').
            // Confirm Button to start calculation
            br
            button#confirmbutton(type='submit') save
            br


