extends layout

block content

    table#desc

    ul
        each WSJF in WSJFList
            li
                a#listItem(string=WSJF) #{WSJF.itemName}: #{WSJF.redcostotal}

        else
            li
            a There are no Items


