extends layout

block content
    h1 This is the Value Calculator
    br
    a Please select the type of value you expect from your project:
    br
    br
    a#listItem(href='/calculator') Reduce Current Cost
    a#listItem('/calculatorAvoidCost') Avoid Upcoming Cost
    a#listItem Increase Revenue
    a#listItem Protect Revenue



