body {
  background-image: url("../images/polygonmoon.jpg");
  align-self: stretch;
}

h1 {
	color: white;
	position: inherit;
	font-family: "Ostrich Sans", sans-serif, bold;
	font-size: 20px;
	text-align: center;
}

form {
  background-color: transparent; /* Remove background fill */
  font-family: "Ostrich Sans", sans-serif;
  text-transform: uppercase; /* Make text all uppercase */
  border-radius: 0; /* Remove corner curve */
  border: 2px solid #fff; /* 2px white border */
  color: #fff; /* White text */
  position:inherit;
  margin: 70px;
}


p {
    color: white;
    position: inherit;
    font-family: "Ostrich Sans", sans-serif, bold;
    font-size: 20px;

}

li {
    list-style-type: none;
}

tr {
    display: table;
    padding: 1rem;
    margin: 0 0 1rem 0;
    background: dark;
    border-radius: 1rem;
    color: inherit;
    transition: all .2s ease;
}

a {
    color: white;
    position: relative;
    font-family: "Ostrich Sans", sans-serif, bold;
    font-size: 20px;
    text-align: center;
    color: #fff; /* White text */
    position:inherit;
    margin: 70px;
}

#radiobuttons{
  margin:70px;
  position: inherit;
}

#confirmbutton {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    font-family: "Ostrich Sans", sans-serif, bold;
    color: #454545;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #dadedf;
    box-shadow: inset 0 -2px #dadedf;
}

#redcostotal {
  color: white;
	position: relative;
	font-family: "Ostrich Sans", sans-serif, bold;
	font-size: 200px;
	text-align: center;
  margin: 50px;
}

#output2 {
  color: white;
	position: relative;
	font-family: "Ostrich Sans", sans-serif, bold;
	font-size: 200px;
	text-align: center;
  margin: 50px;
}

#listItem {
    display: block;
    padding: 1rem;
    margin: 0 0 1rem 0;
    font-size: 25px;
    text-align: center;
    background: silver;
    border-radius: 1rem;
    color: inherit;
    transition: all .2s ease;
}

.alert {
    padding: 20px;
    background-color: lightpink; /* Red */
    color: darkred;
    margin-bottom: 15px;
}


